#info-toast {
    width: 30rem;
    z-index: 600;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 10pt !important;
    background-color: var(--background) !important;
}

#toast-icon {
    font-size: 1.3rem;
}