#info-toast {
    width: 30rem;
    z-index: 600;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 10pt !important;
    background-color: var(--background) !important;
}

#toast-empanada-icon {
    font-size: 1rem;
    height: 40px;
    width: auto;
}

#close-toast {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.6rem;
    color: black;
    background-color: var(--background) !important;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
  }