#recipe-box {
    margin: 10px;
    z-index: 400;
    width: 99%;
    height: 99%;
    color: var(--text);
    font-size: 11pt;
    background-color: white;
    font-family: var(--font);
    border-color: var(--accent);
    border-width: 2px;
    white-space: pre-wrap;
}

#card-body {
    margin-top: -15px;
}

#close-recipe-box {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.6rem;
    color: black;
    background-color: var(--background) !important;
}
#properties-recipe-box-div {
    display: flex;
}

#title-recipe-box {
    font-size: 3rem;
}