#recipe-box {
    margin: 10px;
    z-index: 400;
    width: 99%;
    height: 100vh;
    color: var(--text);
    font-size: 1rem;
    background-color: white;
    font-family: var(--font);
    border-color: var(--accent);
    border-width: 2px;
    white-space: pre-wrap;
    overflow-y: scroll;
}

#card-body {
    margin: 10px;
}

.clicked-button {
    color: black !important;
    background-color: lightgreen !important;
    border-radius: 20px !important;
    margin-right: 10px;
    font-size: 1rem;
}

#close-recipe-box {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.6rem;
    color: black;
    background-color: white;
}

.flags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 25px;
    align-items: center;
    margin-bottom: 5px;
}

.flag-image {
    width: auto;
    height: 2em;
    border-radius: 2px; 
}

#flag-with-border {
    border: 0.5px solid #636363;
    border-radius: 2px; 
}

#ingredient-recipe-box-div {
    display: flex;
}

.ingredient-type-recipe-box-div {
    background: rgba(173, 216, 230, 0.5);
    padding: 5px 20px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.ingredient-type-recipe-box-header {
    font-size:1.2rem;
    text-align: center;
}

.subsection-recipe-box-div {
    margin-top: 10px;
    border-top: 1px solid darkslategray;
}

.subsection-text-recipe-box {
    margin-bottom: 0px;
}
.subsection-title-recipe-box {
    font-size: 1.4rem;
    margin-top: 15px;
}

#properties-recipe-box-div {
    display: flex;
    margin-top: 10px;
}
.properties-recipe-box-element {
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    background: rgba(173, 216, 230, 0.5);
    border-radius: 20px;
    font-size: 1rem;
    height: 3rem;

}
#title-recipe-box {
    font-size: 3em;
}

#title-recipe-box-div {
    display: flex;
}

.unclicked-button {
    color: black;
    background-color: rgba(173, 216, 230, 0.5) !important;
    border-radius: 20px !important;
    margin-right: 10px;
    font-size: 1rem;
    height: 3rem;
}